/* Default Styles */

* {
	box-sizing: border-box;
}

body {
  	width: 100%;
  	height: 60vh;
  	/* Will dynamically have a background property changing according to time. */
}

/* Ring Effect */

.relative {
  position: relative;
}

.loader-ring {
  position: absolute;
  top: 56%;
  left: 50%;
  margin: -120px 0 0 -120px;
  width: 240px;
  height: 240px;
}

.loader-ring-light {
  width: 240px;
  height: 240px;
  border-radius: 240px; 
  /* box-shadow: 0 4px 0 #00abf2 inset; */
  animation: rotate-360 1s linear infinite;
}

.loader-ring-track {
  position: absolute;
  top: 0;
  left: 0;
  width: 240px;
  height: 240px;
  border-radius: 240px;
  box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.3) inset;
}

@keyframes rotate-360 {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}



/* Container Styles */

.clockContainer {
	margin: 53vh auto;
	position:relative;
	width:100%;
}

.time {
	position:absolute;
	width:100%;
	font-size: 34px;
	text-align: center;
	z-index: 2;
	margin-left: -2px;
}

.hexColor {
	position:absolute;
	width: 100%;
	font-size: 34px;
	text-align: center;
	vertical-align: center;
	opacity: 0;
	/* margin-left: 17px; */
}

.line {
	position:absolute;

	/* Width will be dynamically increased every second according to time from date().  */
	/* width: 4px; 
	height: 5px;
	background: linear-gradient(to right, cyan, white);
	box-shadow: 5px 5px 5px 5px; */
	text-align: center;
	margin-top: 50%;
	margin-left: 20%;
	vertical-align: top;
	z-index: -1;
} 


/* psuedo-selectors */

.time:hover {
	opacity: 0;
}

.time:hover ~ .hexColor {
	opacity: 1;
	/* background-color: #FFF; */
	/* width:120%; */
	/* z-index:10; */
}

